<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="div">

    </div>

    <header>
        <div class="navigation">
            <nav id="myNav">
                <div class="logo" id="logo">
                    <h3 class="h2">Onodwa</h3>
                </div>
                <div class="links">
                    <ul id="links-ul">
                        <li><a href="/" class="link">Home</a></li>
                        <li><a href="/#about" class="link">About</a></li>
                        <li><a href="/#skills" class="link">Skills</a></li>
                        <li><a href="/#services" class="link">Services</a></li>
                        <li><a href="/#projects" class="link">Projects</a></li>
                        <li><a href="/#contact" class="link">Contact</a></li>
                    </ul>
                    <!-- <div class="hamburger" id="hamburger">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div> -->
                </div>
                <div class="hamburger" id="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </div>
        
        <div class="intro">
            <div class="text">

                <div class="text-wrap" style="overflow-x: hidden;">
                    <div class="heading-and-description">
                        <h1>Hi, I'm Onodwa</h1><br>
                        <h3>I'm a Web Developer</h3>
                        <p>Not only should websites be beautiful, interactive and responsive, but they have to be done by a person or a team that implements great marketing techniques and design principles. A web developer must understand the psychology of users, what they want to see and how they feel about the design and content. If you're looking to work with someone like that, contact me. Let's do business.</p>
                    </div>
                    <div class="lower-intro">
                        <div class="lower-btn">
                            <button id="contact-button">Contact Me</button>
                        </div>
                        <div class="intro-social-media-icons-wrapper">
                            <div class="intro-social-media-icons">
                                <img src="images/facebook-brands.svg" alt="">
                                <img src="images/youtube-brands.svg" alt="">
                                <img src="images/github-brands.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="image">
                <div class="image-container">
                    <img src="images/myPic.jpg" height="100%" width="100%" alt="">
                </div>
            </div>
        </div>
    </header>

    <main>

        <section id="about">

            <h1>About Me</h1>

            <!-- <div id="caroursel-wrapper">
                <div class="prac" id="carousel" style="height: 200px; width: 200px;">
                    <img src="images/myPic.jpg" height="200px" width="200px" alt="" class="img">
                </div>
            </div> -->

            <div class="topics">
                <div class="topic" id="early">
                    <h1 class="heading-topic">Early Life</h1>
                    <p class="paragraph">I attended Bridgetown High School and matriculated in 2019. The following year, I did an programming internship and then attended CPUT in 2021 to further my studies in Software Engineering. Although most of my knowledge is from YouTube videos and Udemy courses, I have learned a lot from University and I do not discredit its significance in the way I write code today.</p>
                </div>

                <!-- <div class="topic" id="learn">
                    <h1 class="heading-topic">Experience</h1>
                    <p class="paragraph"></p>
                </div> -->

                <div class="topic" id="whatIDo">
                    <h1 class="heading-topic">What I do now</h1>
                    <p class="paragraph">I do freelancing, I am currently learning Mobile App Development and on my way to becoming a Full Stack Engineer. Computers fascinate me; from Software Engineering & Development, Computer Networking, Cyber Security to Machine Learning, IoT and Artificial Intelligence.</p>
                </div>
            </div>
            
        </section>

        <section id="skills">

            <h1>Skills</h1>
            <br>

            <div class="wrap-all-skills" id='parent'>
                <h3>NodeJS, Express & MongoDB</h3>
                <div class="skill-tab-wrapper">
                    <div class="technology" id="tech1">70%</div>
                </div>

                <h3>Java (Core, Swing & JDBC, Maven, Object Oriented Programming)</h3>
                <div class="skill-tab-wrapper">
                    <div class="technology" id="tech2">88%</div>
                </div>

                <h3>Data Structures and Algorithms (average mark)</h3>
                <div class="skill-tab-wrapper">
                    <div class="technology" id="tech3">78%</div>
                </div>

                <h3>Git & Github</h3>
                <div class="skill-tab-wrapper">
                    <div class="technology" id="tech4">70%</div>
                </div>

                <h3>Android Studio</h3>
                <div class="skill-tab-wrapper">
                    <div class="technology" id="tech5">76%</div>
                </div>

                <h3>Relational Databases (MySQL, Derby, SQLite)</h3>
                <div class="skill-tab-wrapper">
                    <div class="technology" id="tech6">90%</div>
                </div>

                <button id="show-skills">Show skills</button>
            </div>

        </section>

        <section id="services">

            <h1>Services</h1>

            <div class="services-wrapper">
                <div class="service">
                    <div class="text">
                        <h2>Business Websites</h2><br>
                        <p>I offer the design and implementation of business websites in any type of business. Whether you're a sol-trader, startup or medium sized business that either needs a new website, modification or maintenance.</p>
                    </div>
                    
                    <div class="icon"><img src="images/briefcase-solid.svg" height="30px" width="30px" alt=""></div>
                </div>
                <div class="service">
                    <div class="text">
                        <h2>E-Commerce Websites</h2> <br>
                        <p>E-commerce is definately the hottest thing right now. If you sell in store, you should consider trying out selling online as well since everyone is on their phones these days. If you ever find yourself in need of such services, I'm your guy.</p>
                    </div>
                    <div class="icon"><img src="images/cart-shopping-solid.svg" height="30px" width="30px" alt=""></div>
                </div>
                <div class="service">
                    <div class="text">
                        <h2>Frontend and Backend Web Development</h2><br>
                        <p>If you need just the frontend, or, just a backend service, or both, I am your guy.</p>
                    </div>
                    <div class="icon"><img src="images/computer-solid.svg" height="30px" width="30px" alt=""></div>
                </div>
            </div>
        
        </section>

        <section id="projects">

            <h1>Projects</h1>

            <div class="projects">
                <div class="project">
                    <div class="img">
                        <img src="images/oscar.png" width="100%" height="100px" alt="">
                    </div>
                    <div class="project-description">
                        <h3>Buy and Sell items system</h3><br>
                        <p>You register to sell items or register to buy items in this platform.</p>
                    </div>
                    <div class="btnSource">
                        <button id="oscar">Source</button>
                    </div>
                </div>
                <div class="project">
                    <div class="img">
                        <img src="images/shopping-cart.jpg" width="100%" height="100px" alt="">
                    </div>
                    <div class="project-description">
                        <h3>Online Shopping Store - Grocery (no authentication)</h3><br>
                        <p>Simple shopping cart system.</p>
                    </div>
                    <div class="btnSource">
                        <button id="cart">Source</button>
                    </div>
                </div>
                <div class="project">
                    <div class="img">
                        <img src="images/uni.png" width="100%" height="100px" alt="">
                    </div>
                    <div class="project-description">
                        <h3>University Look-up</h3><br>
                        <p>You search for a country and it returns the Universities in that particular country.</p>
                        
                    </div>
                    <div class="btnSource">
                        <button id="lookUp">Source</button>
                    </div>
                </div>
                <div class="project">
                    <div class="img">
                        <img src="images/GUI.png" width="100%" height="100px" alt="">
                    </div>
                    <div class="project-description">
                        <h3>User Registration</h3><br>
                        <p>Java GUI app built with Swing and the Derby database</p>
                    </div>
                    <div class="btnSource">
                        <button id="registration">Source</button>
                    </div>
                </div>
                <div class="project">
                    <div class="img">
                        <img src="images/Mobile.png" width="100%" height="100px" alt="">
                    </div>
                    <div class="project-description">
                        <h3>Chain store App</h3><br>
                        <p>Currently building a Chain Store Project with Android Studio and SQLite</p>
                    </div>
                    <div class="btnSource">
                        <button id="chainStore">Source code not available just yet</button>
                    </div>
                </div>
                
            </div>

        </section >

        <section id="contact">

            <h1>Contact</h1>
            <br><br>
            <div class="form-wrapper">
                <form action="/" id="contact-form" method="POST">
                    <div class="name">
                        <!-- <label for="">Name:</label> -->
                        <input type="text" placeholder="Name" name="name" id="name">
                    </div>
                    <div class="contact">
                        <div class="email">
                            <!-- <label for="">Email:</label> -->
                            <input type="text" placeholder="Email" name="email" id="email">
                        </div>
                        <div class="phone">
                            <!-- <label for="">Phone:</label> -->
                            <input type="text" placeholder="Phone Number" name="phone" id="phone">
                        </div>
                    </div>
                    <div class="message">
                        <!-- <label for="">Message:</label> -->
                        <textarea name="message" id="message" placeholder="Message" cols="30" rows="10" style="resize: none;"></textarea>
                    </div>

                    <div class="button">
                        <p></p>
                        <button type="submit" id="submit">Submit</button>
                    </div>
                </form>
            </div>

        </section >


    </main>

    <footer>

    </footer>
    
    <script src="https://smtpjs.com/v3/smtp.js"></script>

    <!-- <script src="firebase.js"></script> -->
    <script src="file.js"></script>
</body>
</html>